.Task {
  position: relative;
  left: 35%;
  width: 30%;
  text-align: center;
  line-height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Name {
  height: 50px;
  background-color: rgb(122, 115, 115);
}

.Description {
  height: 50px;
  background-color: rgb(129, 243, 196);
}

.Completed {
  height: 50px;
  background-color: rgb(0, 255, 34);
}

.Uncompleted {
  height: 50px;
  background-color:rgb(255, 0, 0);
}

.Button {
  height: 50px;
  background-color: rgb(214, 245, 39);
  width: 100%
}
