.Name {
    margin-top: 20px;
    position: relative;
    left: 35%;
    background-color: #F7F778;
    width: 20%;
    height: 40px;
    text-align: center;
    font-size: larger;

}
.True {
    position: relative;
    left: 35%;
    background-color: #00FF00;
    width: 20%;
    height: 40px;
    text-align: center;
    font-size: larger;
}
.False {
    position: relative;
    left: 35%;
    background-color: #FF0000;
    width: 20%;
    height: 40px;
    text-align: center;
    font-size: larger;
}
.Button {
    position: relative;
    left: 35%;
    background-color: #FFAAFF;
    width: 20%;
    height: 40px;
    text-align: center;
    font-size: larger;
    margin-bottom: 20px;
}
.Description {
    position: relative;
    left: 35%;
    background-color: #AAE0FF;
    width: 20%;
    height: 60px;
    text-align: center;
    font-size: larger;
}
